.row
  .span6
    %h2 Today's Interviews
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Time
          %th Start
      %tbody
        - @interviews.each do |interview|
          %tr
            %td
              = @list_applicants.find(interview.applicant_id).name
            %td
              = interview.interview_at.strftime("%l:%M%P")
            %td
              = button_to 'Start Interview', edit_interview_path(interview), :method => :get
  .span6
    %h3 Instructions
    %p
      These will come later, don't worry.
.row
  .span12
    %h3 Scheduled Candidates
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Email
          %th Interview Datetime
      %tbody
        - @list_applicants.each do |applicant|
          %tr
            %td= applicant.name
            %td= applicant.email
            %td= applicant.interviews.first ? applicant.interviews.first.interview_at.strftime(" %B %d at %I:%M %p") : ""
