%h2
  Applicants

%ul
  - @list_applicants.each do |u|
    %li
      = form_for(u) do |f|
        = u.email
        = f.check_box :instructor
        = f.submit "Make Instuctor"

%h2
  Instructors

%ul
  - @list_instructors.each do |u|
    %li
      = u.email



/ - @interviews.each do |i|
/     %li
/       - iv = i[:interview]
/       - if i[:state] == :owned
/         = form_for(iv) do |f|
/           = iv.interview_at
/           = f.submit "Release"
/       - elsif i[:state] == :reserved
/         Reserved
/       - else
/         = form_for(iv) do |f|
/           = iv.interview_at
/           = f.submit "Reserve"
