.row
  .span12
    %h2
      Applicants
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Email
          %th Instructor?
          / %th
      %tbody
        - @list_applicants.each do |u|
          %tr
            = form_for(u) do |f|
              %td
                = u.name
              %td
                = u.email
              / %td
              /   = f.check_box :instructor
              %td
                = f.submit "Make Instuctor"
.row
  .span12
    %h2
      Instructors
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Email
      %tbody
        - @list_instructors.each do |u|
          %tr
            %td
              = u.name
            %td
              = u.email
