.row
  .span6
    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
      = devise_error_messages!
      %div.control-group
        = f.label :name, :class => "control-label"
        %div.controls= f.text_field :name, :autofocus => true
      %div.control-group
        = f.label :email, :class => "control-label"
        %div.controls= f.email_field :email
      %div.control-group
        = f.label :password, :class => "control-label"
        %div.controls= f.password_field :password
      %div.control-group
        = f.label :password_confirmation, :class => "control-label"
        %div.controls= f.password_field :password_confirmation
      %div.control-group
        %div.controls= f.submit "Sign up", :class => "btn"
      %div.control-group
        %div.controls
          = render "devise/shared/links"
  .span6
    %h2 Congratulations!
    =image_tag "codefellows-logo.png", :style => "float:right;width:150px;"

    %p You're a finalist for the Code Fellows Ruby on Rails bootcamp.

    %p What does that mean? We'd like to bring you in for a ten-minute interview and get to know you a little better.

    %p If you already have an account <a href="/users/sign_in">Sign in now</a> and select your time slot.

    %p Interviews are in person at TechStars in Seattle. 511 Boren Ave N.

    %p If you can't make it in person you may use Skype. Please email us at <a href="mailto:hello@codefellows.org">hello@codefellows.org</a>.

