= form_for @interview, :html => {:class => "form-horizontal"} do |f|
  = f.error_messages
  %div.control-group
    = f.label :interview_at, :class => "control-label"
    %div.controls
      = f.datetime_select :interview_at
  %div.control-group
    %div.controls
      = f.submit "Create Interview", :class => "btn"
