.row
  .span12
    %h2
      Reserve your spot today!
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th Timeslot
          %th Reserve!
      %tbody
        - @interviews.each do |i|
          %tr
          - iv = i[:interview]
          - if i[:state] == :owned
            = form_for(iv) do |f|
              %td
                = iv.interview_at
              %td
                = f.submit "Release", :class => "btn btn-success"
          - elsif i[:state] == :reserved
            Reserved
          - else
            = form_for(iv) do |f|
              %td
                = iv.interview_at
              %td
                = f.submit "Reserve", :class => "btn"
