!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title ScheduleMeNow
    / %title= content_for?(:title) ? yield(:title) : "Myapp"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    #wrap
      %header.navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'
      #main{:role => "main"}
        .container
          .content
            .row
              .span12
                = render 'layouts/messages'
            - if current_user && current_user.instructor?
              = render 'layouts/instructor_nav'
            = yield
        #push
    %footer#footer
      .container.clearfix
        .muted.credit
          2013 &copy; <a href="https://github.com/aatrostle/schedule-me-now">Schedule Me Now!</a> Built by <a href="https://twitter.com/aarontrostle">Aaron Trostle</a> and <a href="https://twitter.com/kevinthiswei">Kevin Wei</a>
        .muted.spon
          A <a href="https://www.codefellows.org/">Code Fellows</a> production
